@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #efedd9;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 10px;
}

.box { 
    background-color: steelblue;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}
